   body{font-size: 12px;color:#000000;font-family: "Verdana" , "Arial" , "Helvetica" , "sans-serif";} td{font-size: 12px; line-height: 150%;} TD{font-size: 12px; color: #000000;} A{font-size: 12px; color: #000000;} #Layer1{z-index: 100; position: absolute; top: 150px;} #Layer2{z-index: 1; position: absolute;}
        .pyline {
		  stroke-linejoin: round;
		  stroke-linecap: round;
		}
		.page-heading {
 		    padding: 0px; 
		    position: relative;
		}
		
		.page-heading h3 {
		    color: #49586e;
		    font-size: 25px;
		    font-weight: normal;
		    margin: 10px 0;
		}
		
		.page-heading .breadcrumb {
		    padding: 0;
		    margin: 0;
		    background: none;
		}
		
		.page-heading .breadcrumb a {
		    color: #FFFFFF;
		}
		
		.page-heading .breadcrumb li.active {
		    color: #FFFFFF;
		}
		.button-group {
			position: absolute;
			bottom: 20px;
			right: 20px;
			font-size: 12px;
			padding: 10px;
		}
		.button-group .demo-nav {
	        width: 186px;
	        margin-left: 0px;
	        margin-bottom: 30px;
	    }
	
       .button-group .demo-nav dd {
           float: none;
           color: #333;
           margin-bottom: 5px;
           margin-left: 10px;
           align:left;
       }
	
	    .button-group .demo-nav dd span {
		    display: inline-block;
		    width: 36px;
		    vertical-align: middle;
		    margin-left: 10px;
		}
		.demo-nav dd span {
		    height: 24px;
		    border-radius: 5px;
		    display: block;
		    margin-right:15px;
		}
		.demo-nav .lred, .chart-table .lred {
		    border-bottom: none;
		    background-color: #e81e1e!important;
		}
		
		.demo-nav .lorange, .chart-table .lorange {
		    border-bottom: none;
		    background-color: #ffa500!important;
		}
		.demo-nav .lyellow, .chart-table .lyellow {
		    border-bottom: none;
		    background-color: #1237ed!important;
		}
		.demo-nav .lblue, .chart-table .lblue {
		    border-bottom: none;
		    background-color: #0089fd!important;
		}
		.demo-nav .lgreen, .chart-table .lgreen {
		    border-bottom: none;
		    background-color: #22ac38!important;
		}
		.menu-list{
			position:absolute;
			z-index:900;
		}
		.logo-icon{
			background-color:#424f63;
			position:absolute;
			z-index:900;
			width:52px;
			padding-top:0px;
			margin-top:0px;
		}
		strong {
		    font-weight: 700;
		}
		.map-title h1 {
		    color: #333 !important;
		    text-align: center;
		    font-family: "Microsoft YaHei",sans-serif;
		    font-size: 42px;
		    line-height: 1.1;
		   
		}
		.map-title{
		 background-color: #fff;
		 padding-top: 30px;
		 font-family: "Î¢ÈíÑÅºÚ";
		 height:110px;
		}
		.co{
			font-size: 20px;
    		font-weight: bold;
    		padding-left:30px;
		}
		
		.lo, .time {
		    color: #333;
    		font-size: 20px;
		}
		.time {
		    font-weight: bold;
		    padding-right: 30px;
		}
		.col-xs-4 {
		    width: 33.33333%;
		}
		.text-right {
		    text-align: right;
		}
		
		#view-fullscreen {
		    position: absolute;
		    right: 40px;
		    top: 10px;
		    cursor: pointer;
		}
		.btn.blue:not(.btn-outline) {
		    color: #fff;
		    background-color: #3598dc;
		    border-color: #3598dc;
		}
		.btn:not(.btn-sm):not(.btn-lg) {
		    line-height: 1.4;
		}
		.btn {
		    font-size: 12px;
		    font-weight: 600;
		    text-transform: uppercase;
		    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
		    -webkit-border-radius: 2px;
		    -moz-border-radius: 2px;
		    -ms-border-radius: 2px;
		    -o-border-radius: 2px;
		    border-radius: 2px;
		    border-width: 0!important;
		    overflow: hidden;
		    position: relative;
		    user-select: none;
		    padding: 9px 14px 8px 14px;
		}
		.btn {
		    outline: none!important;
		}