<!DOCTYPE html>
<html lang="en">
<head>
    <%include("/inc/meta.html",{'title':'商品'}){}%>
    <!--common-->
    <link href="${ctxPath}/resource/css/style.css" rel="stylesheet">
    <link href="${ctxPath}/resource/css/css.css" rel="stylesheet">
    <link rel="stylesheet" href="${ctxPath}/resource/lib/bsgrid/merged/grid.simple.min.css"/>
    <link rel="stylesheet" href="${ctxPath}/resource/lib/bsgrid/css/skins/grid_bootstrap.min.css"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <![endif]-->
</head>

<body class="sticky-header">

<section>

    <!-- main content start-->
    <div class="main-content iframe-main-content" >

        <!-- page heading start-->
        <div class="page-heading">
            <!--<form class="form-horizontal" role="form" id="searchForm">-->
                <!--<div class="form-group">-->
                    <!--<label for="dictGroup" class="col-lg-1 col-sm-1 control-label">组别</label>-->

                    <!--<div class="col-lg-2 col-sm-2">-->
                        <!--<input type="text" class="form-control" id="dictGroup" name="dictGroup">-->
                    <!--</div>-->

                    <!--<label for="dictCode" class="col-lg-1 col-sm-1 control-label">code值</label>-->

                    <!--<div class="col-lg-2 col-sm-2">-->
                        <!--<input type="text" class="form-control" id="dictCode" name="dictCode">-->
                    <!--</div>-->

                    <!--<label for="dictName" class="col-lg-1 col-sm-1 control-label">名称</label>-->

                    <!--<div class="col-lg-2 col-sm-2">-->
                        <!--<input type="text" class="form-control" id="dictName" name="dictName">-->
                    <!--</div>-->
                <!--</div>-->

            <!--</form>-->
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="adv-table">
                                <div class="clearfix">
                                    <div class="btn-group">
                                        <#button id="editable-sample_new" class="btn btn-primary" value = "新增 " s="corn:goods:add"  func = "addGoods()" icon = "fa fa-plus" req = "${request}" />
                                        <#button id="editable-sample_new" class="btn btn-primary" value = "修改 " s="corn:goods:edit" func = "editGoods()" icon = "fa fa-edit" req = "${request}" />
                                        <#button id="editable-sample_new" class="btn btn-primary" value = "删除 " s="corn:goods:del" func = "delGoods()" icon = "fa fa-trash-o" req = "${request}" />
                                    </div>
                                    <div class="btn-group" style="float:right;margin-right: 2%;">
                                        <button class="btn btn-success" type="button" id="searchBtn">查询<i
                                                class="fa fa-book"></i></button>
                                        <button class="btn btn-success" type="button" id="resetBtn">重置<i
                                                class="fa fa-mail-reply"></i></button>
                                    </div>
                                    <br/>
                                </div>
                                <div class="space15"></div>
                                <table id="searchTable">
                                    <tr>
                                        <th w_hidden="true" w_index="id" width="10%;"></th>
                                        <th w_index="name" width="10%">商品名称</th>
                                        <th w_index="createTime" width="10%;">创建时间</th>
                                        <th w_index="price" width="10%;">价格(元)</th>
                                        <th w_index="type" width="10%;">类型</th>
                                        <th w_render="getStatus" width="10%;">状态</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="${ctxPath}/resource/lib/jquery/jquery-1.10.2.min.js"></script>
<script src="${ctxPath}/resource/lib/bootstrap/bootstrap.min.js"></script>
<script src="${ctxPath}/resource/lib/jquery/jquery.nicescroll.js"></script>
<!--bsgrid-->
<script src="${ctxPath}/resource/lib/bsgrid/merged/bsgrid.all.min.js"></script>
<script src="${ctxPath}/resource/lib/bsgrid/js/lang/grid.zh-CN.min.js"></script>
<!--<script src="${ctxPath}/resource/lib/layer/layer.js"></script>-->
<!--common scripts for all pages-->
<script src="${ctxPath}/resource/lib/scripts.js"></script>
<script src="${ctxPath}/resource/module/corn/goods/goodsList.js"></script>
<script>
    var goodsStatus = ${goodsStatus};
</script>
</body>
</html>
