<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ehcache缓存支持 -->
    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml"/>
        <property name="shared" value="true"/>
    </bean>

    <!-- 计数器缓存 -->
    <bean id="counterCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheManager" ref="ehcache"/>
        <property name="cacheName" value="counterCache"/>
    </bean>

    <!-- 微信token,jsTicket缓存 -->
    <bean id="wechatCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheManager" ref="ehcache"/>
        <property name="cacheName" value="wechatCache"/>
    </bean>

    <!-- 短信验证码缓存 -->
    <bean id="smsCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheManager" ref="ehcache"/>
        <property name="cacheName" value="smsCaptche"/>
    </bean>

    <!-- 图形验证码缓存 -->
    <bean id="graphCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheManager" ref="ehcache"/>
        <property name="cacheName" value="graphCache"/>
    </bean>


</beans>