<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>500 Page</title>

    <link href="${ctxPath}/resource/css/style.css" rel="stylesheet">
    <link href="${ctxPath}/resource/css/style-responsive.css" rel="stylesheet">
</head>

<body class="error-page">

<section>
    <div class="container ">

        <section class="error-wrapper text-center">
            <h1><img alt="" src="${ctxPath}/resource/images/admin/500-error.png"></h1>
            <h2>OOOPS!!!</h2>
            <h3>服务器好像走神了呢.</h3>
            <p class="nrml-txt">请刷新页面后继续尝试? 　如果问题还存在请联系运维人员协助解决.</p>
            <a class="back-btn" href="javaScript:window.history.go(-1)">  返　　回</a>
        </section>

    </div>
</section>

<script src="${ctxPath}/resource/lib/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="${ctxPath}/resource/lib/jquery/modernizr.min.js"></script>
<script src="${ctxPath}/resource/lib/jquery/jquery-1.10.2.min.js"></script>
<script src="${ctxPath}/resource/lib/bootstrap/bootstrap.min.js"></script>

</body>
</html>
