<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.corngo.corn.mapper.BidInvestMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.corngo.corn.model.BidInvest">
		<id column="ID" property="id" />
		<result column="BID_ID" property="bidId" />
		<result column="USER_ID" property="userId" />
		<result column="MONEY" property="money" />
		<result column="CREATE_TIME" property="createTime" />
	</resultMap>

</mapper>
