<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.corngo.corn.mapper.GoodsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.corngo.corn.model.Goods">
		<id column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="USER_ID" property="userId" />
		<result column="PRICE" property="price" />
		<result column="TYPE" property="type" />
		<result column="STATUS" property="status" />
		<result column="IMG_URL" property="imgUrl" />
	</resultMap>

</mapper>
