<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.corngo.corn.mapper.UsersMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.corngo.corn.model.Users">
		<id column="ID" property="id" />
		<result column="MOBILE" property="mobile" />
		<result column="OPEN_ID" property="openId" />
		<result column="PASSWORD" property="password" />
		<result column="SALT" property="salt" />
		<result column="NAME" property="name" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="RECOMMEND_USER_ID" property="recommendUserId" />
		<result column="RECOMMEND_TIME" property="recommendTime" />
		<result column="GENDER" property="gender" />
	</resultMap>

</mapper>
